const title = "FocusMode";
const description = "Stay focused like humans, not robots";

const SEO = {
  title,
  description,
  canonical: "https://focusmode.app",
  openGraph: {
    type: "website",
    locale: "en_GB",
    url: "https://focusmode.app",
    title,
    description,
    images: [
      {
        url: "/assets/focusmode-logo.png",
        width: 800,
        height: 600,
        alt: "FocusMode - Stay focused for longer hours",
      },
    ],
  },
  twitter: {
    handle: "@umarlqmn",
    site: "@umarlqmn",
    cardType: "summary_large_image",
  },
};

export default SEO;
